body {
    margin: auto;
}

header {
    text-align: left;
    text-indent: 20px;
    background-color: beige;
    font-family: Quicksand;
    height: 100px;
}
nav a{
    display: grid;
    margin: 20px;
    text-transform: capitalize;

}
header h2 {
    display: inline-block;
    line-height: 50px;
    font-size: 2em;
}

main section{
    font-family: 'Oswald';
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25em, 1fr));
    font-size: 1.3em;
    grid-row-gap: 20px;
}

section h2{
    grid-column:  1/-1;
    text-transform: capitalize;
}

.productImg {
    width: 30vw;
    max-width: 400px;
}

.hide {
    display: none;
}
.strike {
    text-decoration: line-through;
}

.product {
    font-weight: 70;
    font-size: 0.8em;
    width: 30vw;
    margin-left: 50px;
    cursor: pointer;
}

.productName {
    font-weight: 50;
    text-transform: capitalize;
}

.noStock {
    filter: grayscale(100px);
}
